name: CI/CD Pipeline
on:
    push:
        branches: [master,main]
    pull_request:
        branches: [master,main]
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Setup Python
              uses: actions/setup-python@v4
              with:
                python-version: 3.9
            - name: Install dependencies
              run: |
                   pip install --upgrade pip
                   pip install -r requirements.txt
            - name: Run tests
              run: |
                  pytest tests/
    build-and-deploy:
        needs: build-and-test
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        -name: Checkout
         uses: actions/checkout@v2




